html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    overflow: auto;
}

.details {
    width: 35%;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.detailLike {
    flex: 0.95;
}

.grille {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.annonce-link {
    color: black;
}

.annonce-item {
    background-color: rgb(228, 228, 228);
    padding: 7px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.image {
    width: 100%;
    height: 11vw;
}

h2 {
    font-size: 1.2vw;
    margin-bottom: -3%;
}

#type {
    font-size: 0.8vw;
    margin-bottom: -4%;
}

.informations {
    display: flex;
    flex-wrap: wrap;
}

p {
    font-size: 1vw;
    margin-bottom: -1%;
}

#ville {
    margin-left: auto;
    font-size: 1vw;
}

.map {
    width: 65%;
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: 0;
}

.filtres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #aec0c9;
    padding: 1vh;
    gap: 1rem;
}

.groupe {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

#search-input, #prixMin, #prixMax, #choix, #triePrix, #trieDate, #nombrePiecesMax, #nombrePiecesMin, #trieEnergetique, #nombreChambre, #parking, #balcon, #terrasse, #cave, #grenier, #garage, #surface, #codePostal, #typeMeuble {
    flex: 1;
    min-width: 150px;
    max-width: 300px;
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 0.5rem;
}

#rechercher, .bouton {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 50px;
    background-color: #5a8d99;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

#rechercher:hover {
    background-color: #407482;
}

@media screen and (max-width: 600px) {
    .groupe {
        flex-direction: column;
        align-items: stretch;
    }

    #search-input, #choix, #prixMin, #prixMax, #triePrix, #trieDate, #nombrePiecesMax, #nombrePiecesMin, #trieEnergetique, #nombreChambre, #parking, #balcon, #terrasse, #cave, #grenier, #garage, #surface, #codePostal, #typeMeuble {
        width: 100%;
    }

    .bouton {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .grille {
        grid-template-columns: 1fr;
    }

    .annonce-item {
        padding: 10px;
    }

    .image {
        width: 100%;
        height: 20vw;
    }

    #type {
        font-size: 0.8vw;
        margin-top: 3.4%;
        margin-bottom: -2.5%;
    }
}